# Environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Databases
*.db
*.sqlite3

# Local/Secrets
.env
.vscode/
*.log

# Node modules
node_modules/
mcp-dataforseo-server/node_modules/
